html{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #f9f9f9;
    font-size: 14px;
    background-image: url('/Resources/HVS outline light.png');
    background-position: 110% 110%;
    background-size: 40%;
    background-repeat: no-repeat;
}
a{
    text-decoration: none;
    color: #75ab38;
}
h1, h2, h3, h4, h5, h6{
    width: 100%;
    color: #75ab38;
    font-weight: 100;
    margin: 5px 0px;
}
h1{
    color: #555;
    font-size: 24px;
}
h2{ 
    font-size: 20px;
    margin-bottom: 20px;
}
button{
    background: #75ab38;
    color: #fff;
    padding: 9px 20px;
    height: 2.25rem;
    border: none;
    border-radius: 5px;
}
.card{
    padding: 10px;
    margin: 10px;
    width: 250px;
    min-height: 100px;
    display: inline-flex;
    flex-direction: column;
    align-items:flex-start;
    vertical-align: bottom;
    border: none;
    border-radius: 10px;
    color: #333;
    background-color: #fff;
    background-position: right center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: rgba(76, 78, 100, 0.22) 0px 2px 10px 0px;
}
.card.small{
    width: 120px;
    background-size: 50px;
    background-position: center;
    width: 70px;
    border-radius: 40%;
    background-size: 40px;
    background-position: center;
    margin-left: 50px;
    min-height: 70px;
}
.card.small:first-child{ margin-left: 0px;}
.card.tall{
    padding-top: 150px;
}
.card.wide{
    width: 100%;
}
.card .cta{
    margin: 10px;
    width: 150px;
}
.card button{
    margin: 10px;
    align-items: center;
}
.column{
    display: flex;
    flex-direction: column;
}
.BG-Grey{background-color: #444; color: #ccc;}
#GoogleSearchTXT{
    border-radius: 4px;
    padding: 4px 10px;
    border: 1px solid;
    background-color: #f4f4f4;
}
.Logo{
    float: left; 
    margin-right: 10px;
    background-image: url('/Resources/hvs-logo.png');
    background-size: 80px;
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
}
.notAvalible{
    margin: 30%;
    text-align: center;
}
.row{
    display: flex;
    flex-direction: row;
}
.TXT-Dark{color: #333;}

#footer{
    position: fixed;
    bottom: 5px;
    text-align: center;
    font-size: 10px;
    width: 100%;
    color: #999999;
}

/* Branding */
.Gmail{background-image: url('/Resources/Gmail50.png');}
.Drive{background-image: url('/Resources/Drive50.png');}
.Calendar{background-image: url('/Resources/Calendar50.png');}
.Classroom{background-image: url('/Resources/Classroom50.png');}
.Chat{background-image: url('/Resources/Chat50.png');}
.Meet{background-image: url('/Resources/Meet50.png');}
.Maps{background-image: url('/Resources/Maps50.png');}
.Contacts{background-image: url('/Resources/Contacts50.png');}
.GoogleSearch{background-image: url('/Resources/Google50.png');}
.HVS{background-image: url('/Resources/hvs-logo.png');}
.CPOMS{
    background-image: url('/Resources/CPOMS.png');
}
.GoogleWorkspace{
    background-image: url('/Resources/googleworkspace.png');
}
.HVS6th{
    background-image: url('/Resources/6thF_250.png');
    background-size: contain;
    background-position: center;
}
.HVS-Dark{
    background-image: url('/Resources/hvs-logo.png'); 
    background-size: 80px; 
    background-position: 105% 150%;
    background-color: #444; 
    color: #ccc;
}
.HVS-Light{
    background-image: url('/Resources/hvs-logo.png'); 
    background-size: 80px; 
    background-position: 105% 150%;
    background-color: #fff; 
    color: #444;
}
.HVS-Photo{
    background-image: url('/Resources/HVS-front.png'); 
    background-size: cover;
    background-position-x: right;
    color: #fff;
}
.EduLink{
    background-image: url('/Resources/EduLinkBackground.png');
    background-size: cover;
    padding-top: 100px !important;
    font-weight: 100;
    font-size: 25px;
    color: #fff !important;
    line-height: 55px;
}
.EduLink button{ background-color: #ecab39;}
.UniFrog{
    background-color: #d5fbec !important;
    color: #ec3e80 !important;
    background-image: url('/Resources/UniFrog.svg');
    background-size: cover;
}
.UniFrog button{background-color: #ec3e80;}
.GoogleClassroom{
    background-image: url('/Resources/Google-Classroom.png'); 
}
.BehaviourWatch{
    background-image: url('/Resources/behaviourwatch_logo.png'); 
    background-size: 100px; 
    background-position: 105% 150%; 
    background-color: #FF7676 !important; 
    color: #fff !important;
}
.SIMS{
    background-color: #0072bc !important; 
    color: #fff !important; 
    font-size: 14px; 
    background-image: url('/Resources/SIMS.png'); 
    background-position: 80% 80%; background-size: 50%;
}
.LS-Classroom{
    background-image: url('/Resources/LS-Classroom.png'); 
    background-size: 100px; 
    background-color: #00AFD7 !important; 
    color: #fff !important; 
    background-position: 105% 150%;
}
.EAP{
    padding-top: 20px !important;
    background-image: url('/Resources/EAP.png'); 
    background-size: 100px; 
    background-color: #fff !important; 
    color: #333 !important; 
    background-position: 80% 80%;
}
.eLibrary{
    background-image: url('/Resources/elibrary.png'); 
    background-size: 100px; 
    background-color: #fff !important; 
    color: #333 !important; 
    background-position: 80% 80%;
}
.ClassCharts{
    background-image: url('/Resources/Class-charts.png');
    background-position: 105% 150%;
    background-size: 100px;
}
.Helpdesk{
    background-image: url('/Resources/helpdesk.png');
    color: red !important;
}
.ParentPay{
    color: #fff;
    background-color: #3A8ED7;
    background-image: url('/Resources/PPlogo.png');
    background-size: 40%;
    background-position: bottom right;
}
.ParentPay button{
    background-color: #fff;
    color: #3A8ED7;
}
.SchoolCloud{
    background-image: url('/Resources/SchoolCloud.png');
    background-size: 80px;
    background-position: 105% 150%;
    background-color: #67A180 !important;
    color: #fff !important;
}
.Childline{
    background-image: url('/Resources/childline.png');
    background-size: 100%;
    background-color: #00A0D2 !important;
}
.CEOP{
    background-image: url('/Resources/think-you-know.jpg');
    background-size: 100%;
}
@media (prefers-color-scheme: Dark) {
    html{
        background-color: #333;
        color: #999999;
        background-image: url('/Resources/HVS outline dark.png');
    }
    h1{ color: #fcfcfc;}
    .card{
        color: #ccc;
        background-color: #555;
        box-shadow: 0px 0px 4px #111;
    }
    #GoogleSearchTXT{ background-color: #555; color: #fff}
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 599px) {
    .row{ 
        flex-direction: column;
        max-width: 100%;
    }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .row{ flex-direction: column;}
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .row{ flex-direction: row;}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}